@using Telerik.Blazor.Components
@using Telerik.SvgIcons
@using Telerik.FontIcons
@namespace ListTest.Components

<h3>List Component 1</h3>
<div class="mb-3">
    <div class="horizontal-layout">
        <input type="text" class="form-control" @bind="_newItem"/>
        <TelerikButton icon="@SvgIcon.Plus" class="no-wrap-button">Add Item</TelerikButton>
    </div>
</div>
<div class="mb-3 col-4">
    <ul class="list-group mt-2">
        @foreach (var item in _items)
        {
            <li class="list-group-item d-flex justify-content-between">
                @item
                <TelerikButton icon="@SvgIcon.X" class="btn-danger no-wrap-button">Remove</TelerikButton>
            </li>
        }
    </ul>
    
</div>

@code {

    private List<string> _items = ["Item 1", "Item 2", "Item 3"];
    private string _newItem = string.Empty;

    private void AddItem()
    {
        _items.Add(_newItem);
        _newItem = string.Empty;
    }

    private void RemoveItem(string item)
    {
        _items.Remove(item);
    }

}